<%- include('layout/header'); -%> <br>

<form action="/login" method="post">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" style="padding: 5px;"/>
  </div> <br>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" style="padding: 5px;" />
  </div> <br>
  <button style="margin-left: 120px;" type="submit">Login</button>
</form>
<a href="/auth/google" style="margin-left: 100px; text-decoration:none ; font-weight: 800; font-size: large;">Login with Google</a>
</main>

<%- include('layout/footer'); -%>

