<%- include('layout/header'); -%>
<<<<<<< HEAD
<h1 style="margin-top: 100px;"> Welcome, <%= req.user.username %></h1>
=======

<h1>Welcome <%=username %> </h1>
>>>>>>> 5c56e0fb8b0f818d6fcd5b0e181ea6fc581baaa6

<%- include('layout/footer'); -%>

