<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passport local auth</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
    <nav>
    <a style="text-decoration: none; margin-left: 5px; margin-right: 5px; font-size:medium; color: white;" href="/">Home</a>
    <a style="text-decoration: none; margin-left: 5px; margin-right: 5px; font-size:medium; color: white;" href="/register">Register</a>
    <a style="text-decoration: none; margin-left: 5px; margin-right: 5px; font-size:medium; color: white;" href="/login">Login</a>
    <a style="text-decoration: none; margin-left: 5px; margin-right: 5px; font-size:medium; color: white;" href="/profile">profile</a>
    <a style="text-decoration: none; margin-left: 5px; margin-right: 5px; font-size:medium; color: white;" href="/logout">Logout</a>
    </nav>
</header> 

</body>
</html>